:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  
  margin: 0;
  padding: 0;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
}

#root {
  margin: 0;
  padding: 0;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
}

.resume-preview {
  background-color: #333;
  padding: 10px;
  margin-bottom: 1in;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: auto;
  padding-bottom: 0.5in;
}

.resume-preview .page-container .page, .page p, .page div, .page span, .page li {
  margin: 0;
  margin-inline: 0;
  margin-block: 0;
  padding: 0;
  padding-inline: 0;
  padding-block: 0;
}

.page ol, .page ul {
  margin: 0;
  margin-left: 0.1em;
  margin-block: 0;
  padding: 0;
  padding-inline: 0;
  padding-block: 0;
}

.editor {
  overflow: hidden;
  color: black;
  background-color: white;
  height: 100%;
  max-height: 100%;
}

.editor-pane {
  overflow-y: scroll;
  height: 90%;
  max-height: 91%;
  padding-bottom: 3em;
}

.page h1 {
  font-size: 2.0em;
  font-weight: normal;
}

.page h2 {
  font-size: 1.8em;
  font-weight: normal;
}

.page h3 {
  font-size: 1.6em;
  font-weight: normal;
}

.page h4 {
  font-size: 1.4em;
  font-weight: normal;
}

.page h5 {
  font-size: 1.2em;
  font-weight: normal;
}

.page a {
  text-decoration: underline;
  color: #5AF;
}

.page a :visited {
  color: #5AF;
}


#resume-header {
  margin-bottom: 0.5em;
}

#profile ul {
  margin-left: 1em;
}

.two-column .left-column {
  display: inline-block;
}

.two-column .right-column {
  float: right;
}

#resume-header .two-column .right-column {
  height: 0;
  text-align: right;
}

.section {
  overflow-x: hidden;
}

.section-title {
  display: block;
  border-bottom: 1px solid black;
  margin-top: 0.5em;
  padding-bottom: 0.1em;
  margin-bottom: 0.5em;
  width: 100%;
}

.section-container {
  margin-left: 0.05in;
}

.two-column-flex {
  display: flex;
  flex-direction: row;
}

.two-column-flex .left-column {
  display: flex;
  flex-flow: column nowrap;
  width: 1.0in;
  flex-shrink: 0;
  margin-right: 0.1in;
}

.experience-item .left-column .date-range-bar {
  width: 0;
  border-right: 1px solid #000;
  align-self: center;
  height: 80%;
}

.experience-item {
  margin-bottom: 1.0em;
}

.experience-item .left-column {
  text-align: center;
}

.experience-description {
  flex-shrink: 0;
}

.experience-description ul {
  line-height: 1.05em;
  margin-top: 0.25em;
}

.experience-top .title {
  display: inline-block;
}

.experience-top .duration {
  display: inline-block;
  float: right;
}

.experience-description .title {
  font-weight: bold;
}

.experience-description ul li {
  margin-left: 1em;
}

.other-work-item .date {
  width: 1.5in;
  /*text-align: center;*/
}

.other-work-item {
 /* 
  border-left: 1px solid #000;
  margin-left: 0.4in;
  padding-left: 0.5in;
  
  display: flex;
  flex-direction: row;
  */
}

.other-work-item div {
  display: inline-block;
}

.other-work-title {
  width: 2in;
  margin-left: 0.305in;
}

.other-work-item .other-work-location {
  text-align: right;
  display: inline-block;
  /*width: 3.75in;*/
  float: right;
}

#certifications {
  margin-bottom: 0.5em;
}

#certifications .cert {
  /*display: flex;
  flex-direction: row;*/
  display: block;
}

.cert .cert-id {
  /*width: 1.68in;
  text-align: right;*/
  float: right;
  display: inline-block;
}

.cert .cert-title {
  /* margin-left: 1em; */
  display: inline-block;
}

#projects h5 {
  margin-top: 0;
  padding-top: 0;
}

#projects .two-column-flex {
  margin-bottom: 0.5em;
}

#projects .left-column {
  text-align: right;
}

#software h5 {
  margin-top: 0.2em;
}

#software .two-column-flex {
  margin-bottom: 0.5em;
}

#software .left-column {
  text-align: right;
}